@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --bgBody: #22212C;
  
  --bgCards: #302F3D;
  
  --bgTechs: #CB92B1;

  --colorBall: #E7DE79;

  --fontColor: #837E9F;
  
  --borderImage: #00FF00;
}

body {
  width: 100%;
  padding: 40px 40px 58px;

  display: grid;
  gap: 60px;
  grid-template-columns: 348px 1fr;
  grid-template-areas: "information contentsBox";

  background-color: var(--bgBody);
}

#personalInformation {
  grid-area: information;
}

/* Cards Style default */

.cards {
  color: var(--fontColor);
  background-color: var(--bgCards);

  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* One Card Style */

#oneCard {
  width: 348px;
  height: 292px;
  
  padding: 32px 0px 49px;

  text-align: center;
}

#oneCard > img {
  width: 128px;
  height: 128px;
  
  border-radius: 50%;
  border: 2px solid var(--borderImage);
}

#oneCard p:nth-of-type(1) {
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
  font-style: normal;

  margin-top: 30px;
}

#oneCard p:nth-of-type(2) {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;

  margin-top: 10px;
}

/* Two Card Style */


#twoCard {
  margin-top: 30px;
  padding: 34px 40px 14px;
}

#twoCard ul {
  list-style-type: none;
}

#twoCard ul li {
  display: flex;
  align-items: flex-end;
  
  margin-bottom: 20px;
}

#twoCard ul li img {
  width: 24px;
  height: 24px;
}

#twoCard ul li p{
  font-size: 13px;
  font-weight: 400;
  
  margin-left: 20px;
}



























































#contentsBox {
  grid-area: contentsBox;

  background-color: var(--bgCards);
}